html {
  color: #fff;
}

nav {
  display: flex;
  width: 100%;
  background-color: #bc3428;
}

nav ul {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 15px;
}

.nav-icon {
  height: 40px;
}

.latest-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 180px 550px 550px;
  width: 100%;
  height: 1280px;
}

.latest-title {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 30vh;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

.latest-title h1 {
  display: inline-block;
  width: 19%;
  font-size: 30px;
}

.latest-posts span {
  display: block;
  font-size: 21px;
  line-height: 34px;
  padding-top: 20px;
}

.smashing-tv span {
  font-size: 22px;
  line-height: 1.5;
  width: 60%;
  text-align: center;
  margin: 30px 0;
}

body > footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.curated-posts figure div {
  border: 1px solid white;
  background-color: white;
  border-radius: 11px;
  min-height: 64px;
  width: 40%;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 15px;
}

.curated-posts > div {
  padding: 35px;
  display: flex;
  flex-direction: column;
  color: black;
}

.book-ad-2 div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.community-article div {
  margin-left: 20px;
}

.person-of-week div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.latest-article div {
  display: flex;
  align-items: center;
  padding: 15px;
}

.book-ad div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 35px;
  font-size: 25px;
}

.latest-title h1 span {
  padding: 10px;
  line-height: 1.5;
  background: #bc3428;
}

.latest-title button {
  display: inline-block;
  width: 15vw;
  height: 10vh;
  margin-right: -40%;
  margin-left: 22%;
}

.latest-article {
  display: flex;
  flex-direction: column;
  padding: 5em 5vw 7em;
}

.latest-posts h3 {
  color: #7c899a;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 20px;
}

.latest-article div h3 {
  font-size: calc(18px + 0.25vw);
  margin-left: 30px;
}

.latest-article h2 {
  font-size: calc(1.375rem + 1.6vw);
  font-weight: 700;
}

.latest-container article:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #bc3428;
}

.latest-container article:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #b95c53;
}

.latest-container article:nth-child(4) {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #8a160b;
}

.latest-container article:nth-child(5) {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #bc3428;
}

.author-img {
  width: 75px;
  height: 75px;
}

#posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 550px 550px 550px 550px 275px;
  position: relative;
  color: black;
}

.section-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  left: 10px;
  top: 15px;
  text-transform: uppercase;
  color: black;
}

.latest-posts {
  border: 1px solid #00000038;
  box-shadow: inset 7px -6px 10px #ddd, inset -7px 6px 10px #ddd;
  padding: 20px;
}

.latest-posts p {
  color: #7c899a;
  font-size: 17px;
  padding-top: 10px;
}

.latest-posts h2 {
  font-size: 28px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: capitalize;
  padding-top: 10px;
}

#smash-subscribers {
  color: white;
  display: flex;
  border: 1px solid #00000038;
  box-shadow: inset 7px -6px 10px #ddd, inset -7px 6px 10px #ddd;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  background-color: #bc3428;
  padding: 7.5px;
}

.book-ad-2 div h2 {
  font-size: 47px;
  line-height: 56.25px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

.community-article div h2 {
  font-size: 31px;
  font-weight: 700;
  color: black;
  padding: 7.5px;
}

.person-of-week div h2 {
  font-size: 20px;
  color: #79666a;
}

.smashing-tv h2 {
  text-decoration: underline;
  font-size: 43px;
  font-weight: 700;
  padding-top: 15px;
}

.book-ad h2 {
  text-decoration: underline;
  font-size: 43px;
  font-weight: 700;
}

#smash-subscribers h2 {
  text-decoration: underline;
  font-size: 43px;
  font-weight: 700;
}

.curated-posts figure span {
  width: 60%;
  font-size: 16.2px;
  line-height: 24.25px;
  padding: 10px;
  margin-bottom: 30px;
}

.community-article div p span {
  font-size: 18px;
  font-weight: lighter;
  color: rgb(102, 102, 102);
}

.book-ad div span {
  padding: 15px;
}

#smash-subscribers span {
  font-size: 22px;
  line-height: 1.5;
  width: 60%;
  text-align: center;
  margin: 30px 0;
}

.curated-posts figure div button {
  width: 40%;
  height: 100%;
  background-color: white;
  color: rgb(38, 125, 204);
  border: none;
  text-align: center;
  text-transform: capitalize;
  font-size: 21.4px;
  font-weight: 700;
  line-height: 24.61px;
  border-left: 2.5px solid rgba(0, 0, 0, 0.3);
}

.book-ad-2 div button {
  background-color: #fff;
  border-radius: 11px;
  border: none;
  font-size: 26px;
  color: rgb(38, 125, 204);
  width: 45%;
  padding: 15px;
}

.smashing-tv button {
  background-color: white;
  padding: 20px 40px;
  border-radius: 12.5px;
  border: 2.5px solid #000;
  font-size: 20px;
}

.book-ad button {
  font-size: 30px;
  padding: 10px;
  width: 350px;
  border-radius: 12.5px;
  color: #007aea;
  font-weight: 700;
  background-color: #fff;
}

#smash-subscribers button {
  background-color: white;
  padding: 20px 40px;
  border-radius: 12.5px;
  border: 2.5px solid #000;
  font-size: 20px;
}

.curated-end p {
  font-size: 27px;
  padding-bottom: 7.5px;
  color: black;
  border-bottom: 5px solid #8a160b;
}

.curated-posts figure p {
  font-size: 21.25px;
  line-height: 34.5px;
  padding: 10px;
}

.book-ad-2 div p {
  font-size: 21.25px;
  font-weight: 400;
  line-height: 34.5px;
}

.community-end p {
  font-size: 27px;
  padding-bottom: 7.5px;
  border-bottom: 5px solid #8a160b;
}

.smashing-tv p {
  margin: 20px 0;
}

.community-article div p {
  font-size: 20px;
  line-height: 23px;
  color: black;
  padding: 7.5px;
}

.section-end p {
  font-size: 27px;
  padding-bottom: 7.5px;
  border-bottom: 5px solid #8a160b;
}

.person-of-week div p {
  margin-top: -8%;
  font-size: 21.3px;
  line-height: 34.5px;
}

.book-ad > p {
  width: 60%;
  margin: 30px 0;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}

#smash-subscribers p {
  padding-top: 7.5px;
}

.smashing-tv {
  grid-column: span 3;
  background-color: #8a160b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smashing-tv img {
  margin-top: 15px;
}

.section-end {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.book-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007aea;
  color: white;
}

.book-ad img {
  margin: 40px 0;
  width: 60%;
}

.community-links {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 300px 300px 300px 250px;
  color: black;
  position: relative;
}

.community-links img {
  border: 5px solid #d33a2c;
  border-radius: 11px;
  width: 100px;
}

.person-of-week {
  display: flex;
  grid-column: span 2;
  padding: 27.5px;
}

.person-of-week img {
  flex-basis: 235px;
  height: 250px;
  margin: 35px;
}



.community-article {
  display: flex;
  align-items: flex-start;
  padding: 25px;
}

.community-article img {
  margin-top: 25px;
}


.community-article div h3 {
  font-size: 20.5px;
  font-weight: 700;
  color: #666;
  text-decoration: underline;
  padding: 7.5px;
}

.community-end {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.book-ad-2 {
  background: #d33a2c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
}

.book-ad-2 img {
  height: 200px;
  position: relative;
  top: -85px;
  border: 4px solid #d33a2c;
  border-radius: 5px;
}

.book-ad-2 div h3 {
  font-size: 17px;
}

.curated-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 500px 850px 350px;
  position: relative;
}

.curated-posts div h4 {
  font-size: 17px;
  color: rgb(102, 102, 102);
  line-height: 20px;
}

.curated-posts div h1 {
  font-size: 28px;
  line-height: 34px;
  color: black;
}

.curated-posts div ul {
  color: red;
  list-style: disc;
  font-size: 17px;
  line-height: 34.5px;
  margin-left: 45px;
}

.topics li a {
  color: white;
  text-decoration: none;
}

.curated-posts div ul li a {
  color: rgb(0, 111, 198);
}

.curated-posts figure {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d33a2c;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 11px;
}

.curated-posts figure h1 {
  font-size: 43px;
  font-weight: 700;
  line-height: 51.5px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-top: 30px;
}

.curated-posts figure img {
  height: 475px;
  width: 450px;
  padding: 10px;
  margin: 20px;
}

.curated-posts figure div input {
  width: 60%;
  height: 35%;
  color: black;
  border: none;
}

.curated-posts figure div input::placeholder {
  opacity: 1;
  font-size: 19px;
  line-height: 22px;
}

.curated-end {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body > footer {
  display: flex;
  flex-direction: column;
  background-color: #d33a2c;
  padding: 2%;
  align-items: center;
}

.topics {
  color: rgb(129, 29, 21);
  list-style: disc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics li {
  box-sizing: border-box;
  flex-basis: 75px;
  margin: 10px 20px;
  font-size: 25px;
  line-height: 40px;
  position: relative;
}

body > footer > div img {
  width: 15%;
  margin: 0 25px;
}

.footer-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 15px;
}

.footer-about p {
  margin: 10px;
  font-size: 17.6px;
  line-height: 29.6px;
  text-align: center;
}

.footer-about ul {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-about li {
  margin: 5px;
}

.footer-about a {
  color: white;
}
